.doctor-container {
  background-color: #c50f79;
}

.form-group label {
  font-weight: bold;
}

.doctor-container h2 {
  margin-bottom: 1.5rem;
}

.doctor-container img {
  max-width: 100%;
  height: auto;
}

.doctor-container .form-control {
  width: 100%;
}
